<section id="imprint" class="bg-primary">
    <div class="container px-5 py-3">
        <div class="row">
            <div class="col-12">
                <h1>Statistik</h1>
            </div>
            <div class="col-12 text-justify">
                <div class="card">
            
                    <div class="card-body border border-white">
                   
                      <p style="display:inline;" class="card-text">[2018] Download the Statistik of the year 2018.  (.pdf)</p>
                      <a style="display:inline; float: right;" href="../../assets/statistik/statistik-2018.pdf" class="btn btn-danger"><i class="far fa-file-alt"></i></a>
                    </div>
                  </div>

            </div>
        </div>
    </div>
</section>