<footer class="container-fluid color-3 pb-2">
    <div class="row text-center">
        <div class="col-md-4 py-1">
            <i class="fas fa-angle-double-right"></i>&nbsp;<a href="https://magiccoder.de/datenschutz.html">Datenschutz</a>&nbsp;<i class="fas fa-angle-double-left"></i>
        </div>
        <div class="col-md-4 py-1 ">
            A <a href="https://magiccoder.de">magiCCoder</a>
            project!
        </div>
        <div class="col-md-4 py-1">
            <i class="fas fa-angle-double-right"></i>&nbsp;<a href="https://magiccoder.de/impressum.html">Impressum</a>&nbsp;<i class="fas fa-angle-double-left"></i>
        </div>
    </div>
</footer>