<section id="imprint" class="bg-primary">
    <div class="container px-5 py-3">
        <div class="row">
            <div class="col-12">
                <h1>About us</h1>
            </div>
            <div class="col-12 text-justify">
                <p>
                    Im Jahre 2017 hat VerHext die Entwicklung von Support++ begonnen. Er hatte damals SinusBot benutzt und benötigte ein Support Skript, somit hat er
                    sich mit der SinusBot Scripting Engine aus einander gesetzt und angefangen Support++ zu entwicklen. Zu dem Zeitpunkt gab es zwar schon eine
                    ähnliches Skript welches aber nicht seinen Ansprüchen gerecht wurde.
                </p>
                <p>
                    Nach schon kurzer Zeit hat sich Support++ sehr stark Verändert das die v2.x.x erschien. 2017 kam auch GamerBoomTV und Lapotor zu Support++, Lapotor hat die Ideen für
                    z.B. das Channel Edit Modul, den Automatic Chanel Manager und die Themen Notification mitgebracht. Als kleine Überraschung hatte er den ersten
                    Entwurf für die Internet Seite erstellt und betreut diese auch nach wie vor.
                </p>
                <p>Das Support++ Team ist nicht besonders groß, trotzdem haben wir es geschafft, ein Support Skript zu schreiben, was jeder Nutzer für seinen eigenen
                    Gebrauch anpassen kann. Seit 2017 arbeiten wir bereits an diesem Projekt und haben mit der Zeit immer mehr Funktionen hinzugefügt.
                    Wir versuchen unser Skript so oft wie möglich zu aktualisieren, was wir nur durch eure Ideen machen können. Sobald irgendwelche Fehler im Script
                    auftreten werden diese so schnell wie möglich von uns behoben. Unser Ziel sind wöchentliche Updates, in denen wir Fehler beheben sowie neue
                    Funktionen hinzufügen.</p>
            </div>
        </div>
    </div>
</section>