<section id="feautures" class="bg-primary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 py-3 text-center text-light">
                <h1 class="raleway bold display-4">Warum wir?</h1>
            </div>
            <div class="card col-lg-4 color-1 py-4">
                <i class="fas fa-ticket-alt card-title mx-auto"></i>
                <h3 class="card-header text-center">Ticket System</h3>
                <div class="card-body text-justify">
                    Das System von <b>Support++</b> bietet ein umfangreiches Ticketsystem. Dabei kann ein eigener <b>Command</b> festgelegt werden. Die Supporter
                    werden bei einer
                    Einsendung eines Tickets benachrichtigt und auch der Versender erhält eine Bestätigung für seine Versendung. Das Ticketsystem kann auf weitere
                    Plattformen wie Discord und Telegram erweitert werden.
                </div>
            </div>
            <div class="card col-lg-4 color-2 py-4">
                <i class="fas fa-bell card-title mx-auto"></i>
                <h3 class="card-header text-center">Supporter Notification</h3>
                <div class="card-body text-justify">
                    Das System von <b>Support++</b> ermöglicht es auch, einer gewählten Supportergruppe einen oder mehrere Supporterchannel zuzuweisen. Dabei gibt es
                    auch
                    Funktionen, Supporter oder kleine Spielverderber auf eine Ignorelist zu setzen, damit Supporter nicht beim betreten von denjenigen benachrichtigt
                    werden. Das besondere an unserem System ist, dass es auch möglich ist, die Benachrichtigungen auf weitere Plattformen wie Discord oder Telegram
                    zu übertragen! Wir bieten auch eine Themen greifendes System, mit dem voreingestellte Fragen bereits vordefiniert werden können, damit sich ein
                    Supporter bereits auf den Support einstellen kann.
                </div>
            </div>
            <div class="card col-lg-4 color-3 py-4">
                <i class="far fa-clock card-title mx-auto"></i>
                <h3 class="card-header text-center">Automatic Opening/Closing</h3>
                <div class="card-body text-justify">
                    Das System von <b>Support++</b> bietet auch eine automatische Öffnungszeiten Funktion. Dabei kann der Benutzer selber die Öffnungszeiten
                    verwalten und
                    auch einstellen, ob und wie die Supportchannel bearbeitet werden sollen. Der Benutzer kann auch Commands zur Schließung der Supportchannel
                    einstellen und ebenfalls festlegen, ob die Supporterchannel geöffnet sind, ob ein Supporter online, offline oder AFK ist. Ist das nicht toll? Wie
                    in einem Supermarkt! <i class="fas fa-smile"></i>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 text-md-right text-center pr-md-5 pb-md-0 pb-3">
                <a routerLink='/feature' class="btn btn-lg btn-primary">Alle Features</a>
            </div>
            <div class="col-md-6 text-md-left text-center pl-md-5 pt-md-0 pt-3">
                <a href="https://github.com/support-pp/support-pp/issues/new" class="btn btn-lg btn-outline-secondary">Erstelle Feature Request&nbsp;<span
                        style="vertical-align: text-top; font-size: 0.5rem"><i class="fas fa-external-link-alt"></i></span></a>
            </div>
        </div>
    </div>
</section>
<section id="team" class="bg-primary pb-3">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-12 text-center py-4 text-light">
                <h1 class="raleway bold display-4">Wer sind wir?</h1>
            </div>
            <div class="col-lg-3 card color-1 py-4 text-center border-right ml-auto">
                <div class="card-title">
                    <img src="../../assets/team/elias.png" height="150" class="rounded-circle">
                </div>
                <h1 class="display-5 card-header">Elias</h1>
                <h6 class="card-subtitle py-1 mt-0"><i class="fas fa-caret-right"></i>&nbsp;Supporter <i class="fas fa-caret-left"></i></h6>
                <div class="card-body text-justify">
                    <p>
                        <b>Elias</b> hilft den Usern wo er nur kann. Auch den verzweifelsten User hilft er aus der patsche und bringt sein Script zum laufen.
                    </p>
                </div>
                <div class="card-footer">
                    <ul class="social-network social-circle">
                        <li><a href="https://esieben.party/" class="icoWebsite" title="Website"><i class="fas fa-globe"></i></a>
                        </li>
                        <li><a href="https://instagram.com/esieben1310" class="icoInstagram" title="Twitter"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li><a href="https://github.com/esieben1310" class="icoGitHub" title="GitHub"><i class="fab fa-github"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 card color-1 py-4 text-center border-right border-left">
                <div class="card-title">
                    <img src="../../assets/team/gamerboomtv.png" height="150" class="rounded-circle">
                </div>
                <h1 class="display-5 card-header">GamerBoomTV</h1>
                <h6 class="card-subtitle py-1 mt-0"><i class="fas fa-caret-right"></i>&nbsp;Support Leitung&nbsp;<i class="fas fa-caret-left"></i></h6>
                <div class="card-body text-justify">
                    <p>
                        <b>GamerBoomTV</b> ist der Leiter für unseren Support und unterstützt <b>VerHext</b> bei seiner Arbeit, auch
                        wenn es für ihn nicht immer einfach ist!
                    </p>
                </div>
                <div class="card-footer">
                    <ul class="social-network social-circle">
                        <li><a href="https://cheep-netzwerk.de/" class="icoWebsite" title="Website"><i class="fas fa-globe"></i></a>
                        </li>
                        <li><a href="https://twitter.com/Boomischer_Dan" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li><a href="https://github.com/GamerBoomTV" class="icoGitHub" title="GitHub"><i class="fab fa-github"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 card color-1 py-4 text-center border-left mr-auto">
                <div class="card-title">
                    <img src="../../assets/team/nxtmaster.png" height="150" class="rounded-circle">
                </div>
                <h1 class="display-5 card-header">Nxtmaster</h1>
                <h6 class="card-subtitle py-1 mt-0"><i class="fas fa-caret-right"></i>&nbsp;Supporter <i class="fas fa-caret-left"></i></h6>
                <div class="card-body text-justify">
                    <p>
                        <b>Nxtmaster</b> hilft den Usern wo er nur kann. Auch den verzweifelsten User hilft er aus der patsche und bringt sein Script zum laufen.
                    </p>
                </div>
                <div class="card-footer">
                    <ul class="social-network social-circle">
                        <li><a href="https://www.instagram.com/felix.sbxt/" class="icoInstagram" title="Twitter"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li><a href="https://github.com/Nxtmaster10/" class="icoGitHub" title="GitHub"><i class="fab fa-github"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 card color-1 py-4 text-center border-right border-top ml-auto">
                <div class="card-title">
                    <img src="../../assets/team/verhext.png" height="150" class="rounded-circle">
                </div>
                <h1 class="display-5 card-header">VerHext</h1>
                <h6 class="card-subtitle py-1 mt-0"><i class="fas fa-caret-right"></i>&nbsp;Developer&nbsp;<i class="fas fa-caret-left"></i></h6>
                <div class="card-body text-justify">
                    <p>
                        Das ist <b>VerHext</b>, der Gründer des Projektes. Er hat das Projekt im April 2017 ins Leben gerufen und nun ist
                        <b>Support++</b> eins der
                        erfolgreichsten Supportsysteme für Teamspeak&sup3;!
                    </p>
                </div>
                <div class="card-footer">
                    <ul class="social-network social-circle">
                        <li><a href="https://allesverhext.de/" class="icoWebsite" title="Website"><i class="fas fa-globe"></i></a>
                        </li>
                        <li><a href="https://twitter.com/allesVerHext" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li><a href="https://github.com/VerHext" class="icoGitHub" title="GitHub"><i class="fab fa-github"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 card color-1 py-4 text-center border-left border-top mr-auto">
                <div class="card-title">
                    <img src="../../assets//team/lapotor.png" height="150" class="rounded-circle">
                </div>
                <h1 class="display-5 card-header">Lapotor</h1>
                <h6 class="card-subtitle py-1 mt-0"><i class="fas fa-caret-right"></i>&nbsp;Chef&nbsp;<i class="fas fa-caret-left"></i></h6>
                <div class="card-body text-justify">
                    <p>
                        <b>Lapotor</b> ist der Entwickler der Module und leitet mit <b>VerHext</b> zusammen das Projekt. Auch wenn man meinen können,
                        dass sein Name von der Hundrasse <b>Labrador</b> kommen könnte, ist er kein Hund, auch wenn er manchmal bellt! <i
                            class="far fa-smile"></i>
                    </p>
                </div>
                <div class="card-footer">
                    <ul class="social-network social-circle">
                        <li><a href="https://lapotor.de/" class="icoWebsite" title="Website"><i class="fas fa-globe"></i></a>
                        </li>
                        <li><a href="https://twitter.com/lapotor" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li><a href="https://github.com/Lapotor" class="icoGitHub" title="GitHub"><i class="fab fa-github"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

